<div class="container">
    <h1 class="text-center">마로 동방 예약 시스템</h1>
    <div id="calendar"></div>
    <button type="button" class="btn btn-danger btn-register" data-toggle="modal" data-target="#myModal">로그인 후 일정 등록하기</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">일정 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/auth/login/kakao/callback" method="post" name="frm_login" id="frm_login">
                        <div class="form-group">
                            <a href="/auth/login/kakao" class="btn btn-block btn-social btn-kakao">
                                <span><img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/></span>
                                카카오 계정으로 로그인하기
                            </a>
                        </div>
                    </form>

                    <div class="form-group row">
                        <label for="example-datetime-local-input" class="col-2 col-form-label">일정</label>
                        <div class="col-10">
                            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-danger">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  });

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'agendaWeek, listWeek',
        right: 'prev, today, next'
      },
      buttonText: {
        today: '오늘'
      },
      defaultView: 'agendaWeek',
      views: {
        agendaWeek: {
          type: 'agendaWeek',
          buttonText: '주별보기',
          allDaySlot: false,
          columnFormat: 'MM/DD',
          slotLabelFormat: 'hha',
          minTime: '16:00:00'
        },
        listWeek: {
          type: 'listWeek',
          buttonText: '일정보기',
          noEventsMessage: '등록된 일정이 없습니다',
          timeFormat: 'HH:mm',
          listDayAltFormat: 'M월 D일'
        }
      },
      viewRender: function(view, element){
        if(view.name == "agendaWeek"){
          $("#calendar").addClass('agenda-week');
        }else{
          $("#calendar").removeClass('agenda-week');
        }
      },
      monthNames: [
        '1월', '2월', '3월', '4월', '5월', '6월',
        '7월', '8월', '9월', '10월', '11월', '12월'
      ],
      dayNames: [
        '일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'
      ],
      dayNamesShort: [
        '일', '월', '화', '수', '목', '금', '토'
      ],
      height: 430,
      eventBackgroundColor: '#d9534f',
      eventBorderColor: '#d9534f',
      eventTextColor: 'black',
      eventSources: [
        {
          url: '/schedule',
          type: 'GET'
        }
      ]
    })
  });
</script>