<title><%= title %></title>

<meta charset="utf-8">
<meta name="description" content="Kyung Hee Univ. Club. MARO Reservation">
<meta name="keywords" content="Kyung Hee Univ.,Club. MARO, KHU, Reservation">
<meta name="author" content="Junyoung Jung">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="../styles/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../styles/fullcalendar.css">
<link rel="stylesheet" type="text/css" href="../styles/fullcalendar.print.css" media="print">

<script type="text/javascript" src="../js/moment.js"></script>
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="../js/fullcalendar.js"></script>